_ide_helper.php
.env
.env.backup
.phpunit.result.cache
/.idea
/.vscode
/node_modules
/packages/bedard/backend
/public/hot
/public/storage
/public/vendor/backend
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
