.env
.env.backup
.phpunit.result.cache
/.idea
/.vscode
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
phpunit.dusk.xml
public/vendor/backend/dist
yarn-error.log
