[data-button] {
  :not(.loading) {
    [data-spinner] {
      display: none;
    }
  }

  &.loading {
    [data-spinner] {
      display: block;
    }

    [data-icon] {
      display: none;
    }
  }
}
